@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.scrollbar-neutral-950 {
  scrollbar-color: oklch(55.6% 0 0) oklch(14.5% 0 0);
}

.scrollbar-neutral-900 {
  scrollbar-color: oklch(43.9% 0 0) oklch(20.5% 0 0);
}

/* .scrollbar-neutral-800 {
  scrollbar-color: oklch(55.6% 0 0) oklch(26.9% 0 0);
} */

.scrollbar-invisible {
  scrollbar-width: none;
}
