{
	on_demand_tls {
		ask http://backend:8080/check-custom-domain
	}
}

{$DOMAIN:localhost} {
	reverse_proxy backend:8080
}

*.{$DOMAIN:localhost} {
	reverse_proxy backend:8080
	tls {
		dns ovh
	}
}

https:// {
	tls {
		on_demand
	}
	reverse_proxy backend:8080
}
