{
	on_demand_tls {
		ask http://backend:8080/check-custom-domain
	}
}

{$SITE_HOSTNAME:localhost:80} {
	handle_path /api/* {
		reverse_proxy backend:8080
	}
	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

*.{$SITE_HOSTNAME:localhost} {
	reverse_proxy backend:8080
	tls internal
}

https:// {
	tls {
		on_demand
	}
	reverse_proxy backend:8080
}
